<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Crear Cita</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background_crear_cita">
  <br>
  <br>
  <br>
  <br>
  <br>
  <div>
    <form>
      <ion-grid>
        <ion-row>
          <ion-col size="1">
          </ion-col>
          <ion-col size="10">
            <ion-item class="toma_datos">
              <ion-label position="stacked">Nombre</ion-label>
              <ion-input required type='text' id="nombreCita" clear-input></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="1">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1">
          </ion-col>
          <ion-col size="10">
            <ion-item class="toma_datos">
              <ion-label position="stacked">Precio</ion-label>
              <ion-input required type='number' id="precioCita" clear-input></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="1">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1">
          </ion-col>
          <ion-col size="10">
            <ion-item class="toma_datos">
              <ion-label position="stacked">Dia</ion-label>
              <ion-label position="fixed" id="diaCita"></ion-label>              
            </ion-item>
          </ion-col>
          <ion-col size="1">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1">
          </ion-col>
          <ion-col size="10">
            <ion-item class="toma_datos">
              <ion-label position="stacked">Hora</ion-label>
              <ion-input type="time" id="horaCita"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="1">
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="1">
          </ion-col>
          <ion-col size="10">
            <ion-item class="toma_datos">
              <select (change)="cambiarDuracion()" name="tamaño" id="tamañoTatto">
                <option value="0">Tamaño...</option>
                <option value="1">Pequeño</option>
                <option value="2">Mediano</option>
                <option value="3">Grande</option>
              </select>
              <ion-label id= duracionTatto type="text" style="margin-left: 40%;">
                {{duracion}} hora/s
              </ion-label>
            </ion-item>
          </ion-col>
          <ion-col size="1">
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>
<ion-footer>
  <ion-button type='large' (click)="crear()" expand="block">Crear</ion-button>
</ion-footer>