<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Tu Calendario</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="buscarCita()">
        <ion-icon name="search-outline" slot ="icon-only"></ion-icon> 
      </ion-button>
      <ion-button (click)="calcularMes()">
        <ion-icon name="card-outline" slot ="icon-only"></ion-icon>
      </ion-button>
      <ion-button (click)="crearCita()">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div style="background-color: white;">
  <ion-segment [(ngModel)]="calendar.mode">
    <ion-segment-button value="month">
      <ion-label>Mes</ion-label>
    </ion-segment-button>
    <ion-segment-button value="week">
      <ion-label>Semana</ion-label>
    </ion-segment-button>
    <ion-segment-button value="day">
      <ion-label>Día</ion-label>
    </ion-segment-button>
  </ion-segment>
  <br>
  <ion-row>
    <ion-label id="mesCalculado" style="margin-left: 38%;">
    </ion-label>
  </ion-row>

  <ion-row>
    <!-- Move back one screen of the slides -->
    <ion-col size="2">
      <ion-button fill="clear" (click)="back()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>

    <ion-col size="8" class="ion-text-center">
      <h2 id="mes">{{ viewTitle }}</h2>
    </ion-col>

    <!-- Move forward one screen of the slides -->
    <ion-col size="2">
      <ion-button fill="clear" (click)="next()">
        <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
  <calendar id="calendario"
  (onEventSelected)="onEventSelected($event)" 
  [eventSource]="eventSource"
  [calendarMode]="calendar.mode" 
  [currentDate]="calendar.currentDate" 
  (onTitleChanged)="onViewTitleChanged($event)"
  (onTimeSelected)="onTimeSelected($event)">
  </calendar>
</div>
</ion-content>